extends ../layouts/main.pug
include ../mixins/poemBlock

block content
    .poems
        each poem in poems
            +poemBlock({
                id: poem.id,
                title: poem.title,
                content: poem.content

            })