extend ../layouts/main.pug

block content
    .search__header
        h3 Searching by #{searchingBy}
    .search__poems
        each poem in poems
            h3=poem.title
            h5=poem.content